@media screen and (min-width: 1025px) and (max-width: 1144px) {
  img {
    width: 460px;
  }
}
/* tablets */
@media screen and (min-width: 761px) and (max-width: 1024px) {
  main h2 > span {
    font-size: 46px;
    line-height: 45px;
  }

  main h2 {
    font-size: 46px;
  }

  #inscreva-se {
    display: flex;
  }

  img {
    width: 400px;
  }
}

/* celulares médios (Navbar) */
@media screen and (max-width: 760px) {
  header {
    flex-flow: column;
  }

  #title {
    text-align: center;
  }

  nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  #menu {
    display: block;
    cursor: pointer;
  }

  nav ul li {
    display: none;
  }
  main {
    flex-flow: column;
  }

  main h2 {
    font-size: clamp(16px, 38px, 38px);
    line-height: 10px;
  }

  img {
    display: none;
  }
}

@media screen and (max-width: 405px) {
  main h2 {
    font-size: clamp(16px, 30px, 30px);
  }
}
